<div>
  <div class="list">
    <h1>Mes Devis</h1>
  </div>
  <br>
    <ul>
      <div class="quotes">
        <% @quotes.each do |quote| %>
          <li>
            <div>
              <h2 class="name"><%= link_to "devis n°: #{quote.id}", quote %>
              <%= link_to quote_path(quote), class: 'trash',
                    method: :delete,
                    data: { confirm: "Are you sure?" } do%>
                    <i class="fa-regular fa-trash-can"></i>
                    <% end %></h2>
            </div>
          </li>
        <% end  %>
      </div>
    </ul>
</div>
