<br>
<br>
<div class="new">
  <div class="title">
    <h1>Créez un Devis</h1>
  </div>
  <div class="form">
    <%= simple_form_for(@quote) do |f| %>
      <div class="form-inputs">
        <%= f.input :customer, collection: Customer.all%>
      </div>

      <div class="form-actions">
        <%= f.submit 'Créer le Devis'%>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Home', root_path%>
