// Specific CSS for your home-page
.btn-gradient {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(#167FFB, #0F60C4);
  background: #FFDC80;
  box-shadow: 0px 4px 4px #ffae00, 0px 4px 4px #ffae00;
}

.btn-gradient:hover {
  color: green;
}

h1 {
  text-align: center;
  margin: 20px;
}

h2 {
  text-align: center;
  margin: 20px;
}

.d-block {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

#logo {
  margin: 35px;
}
