.container {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user {
  text-align:left;
  display: flex;
  flex-direction: column;
  width: 50%;
  p {
    margin: 0;
  }
}

.customer {
  text-align: right;
  display: flex;
  flex-direction: column;
  width: 50%;
  p {
    margin: 0;
  }
}

.custom {
  margin-top: 80px;
}

.customer-container {
  display: flex;
  justify-content: flex-end;
}
