<div class="container list">
  <div class="container">
    <h1>Mes Clients</h1>
  </div>
  <br>
  <div class="customers">
    <ul>
      <div class="lists-customer">
        <% @customers.each do |customer| %>
          <li>
            <div class="container">
              <h2 class="name"><%= link_to customer.name, customer %></h2>
              <%= link_to customer_path(customer), class: 'trash',
                    method: :delete,
                    data: { confirm: "Are you sure?" } do%>
                    <i class="fa-regular fa-trash-can"></i>
                    <% end %>
            </div>
          </li>
        <% end  %>
      </div>
    </ul>
  </div>
</div>
<%= link_to 'home', root_path %>
