<h1>Pages#home</h1>
<p>faire un bon gros lien en plein milieu avec le footer à la place de la navbar</p>

<p><%= link_to 'devis', quotes_path%></p>
<p><%= link_to 'clients', customers_path%></p>

<p><%= link_to 'Créez un devis', categories_path%></p>
<p><%= link_to 'Créez un client', new_customer_path%></p>
