.button{
  width: 110px;
  height: 40px;
  background: #FFDC80;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

input[type="submit"]
{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 8px;
  padding: 16px;
  border-radius: 4px;
  background: #FFDC80;
  box-shadow: 0px 4px 4px #FFAE00, 0px 4px 4px #FFAE00;
  border: none;
}

.searching-customer {
  position: relative;
}

.search {
  position: absolute;
  right: 20px;
  top: 13px;
}

.back{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  margin-top: 8px;
  padding: 16px;
  border-radius: 4px;
  background: #FFDC80;
  box-shadow: 0px 4px 4px #FFAE00, 0px 4px 4px #FFAE00;
  border: none;
}
/** button on white background **/
.pdf-button {
  width: 110px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding: 10px;
  border-radius: 4px;
  background: #FFDC80;
  box-shadow: 0px 4px 4px #ffdb80e8, 0px 4px 4px #ffdb80e8;
  border: none;
}

#pdf-submit {
  width: 110px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding-top: 4px;
  padding-bottom: 0;
  border-radius: 4px;
  background: #FFDC80;
  box-shadow: 0px 4px 4px #ffdb80e8, 0px 4px 4px #ffdb80e8;
  border: none;
}
