// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/categories/index";
@import "pages/customers/new";

@import "pages/users";


body {
  background-color: #FFB800;
}

body, h1, h2, h3, p {
  font-family: 'Roboto Condensed', sans-serif;
}

.contour-homepage {
  padding-bottom: 80px;
  padding-top: 6px;
  background: #FFB800;
}

.title {
  text-align: center;
  margin: 10px;
  h1 {
    font-weight: 600;
    padding-bottom: 10px;
  }
}
